{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
    Input first number:
    <input id="first" name="A">
    </div>
    <div>
    Input second number:
    <input id="second" name="B">
    </div>
  <div id="div_response"></div>
    <p>
        <button onclick="onTakeCsrf(event)" data-to-csrf="{% url 'api_v1:token_view' %}">csrf</button>
        <button onclick="onAddClick(event)" id="add_view_btn"
                data-to-csrf="{% url 'api_v1:token_view' %}"
                data-add-url="{% url 'api_v1:add_view' %}" >add</button>
        <button>subtract</button>
        <button>multiply</button>
        <button>divide</button>
    </p>



<script src="{% static 'js/index.js' %}"></script>
</body>
</html>